{% extends "notes/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <h1 style="margin: 10px;font-family: 'Times New Roman', Times, serif;">Notes</h1>
        <div style="display: flex; flex-wrap: wrap;">
            {% for note in user.notes.all %}
                <div style="width: 150px;min-height: 100px;border-radius: 8px;text-align: center; background-color: seashell;margin: 10px;padding: 10px;">
                    <h4><strong>{{note.title}}</strong></h4>
                    <p>{{note.message}}</p>
                </div>
            {% empty %}
                No notes.
            {% endfor %}
        </div>
    {% else %}
        <strong>Login/Rigister to view</strong>
    {% endif %}
{% endblock %}