{% extends "tasks/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}

        <div class="row">
            <h1 style="padding: 20px;">Tasks</h1>
        </div>
        <div>
            <ol>
                {% for task in user.tasks.all %}
                    <li style="padding: 5px;"><a href="{% url 'task_view' task.id %}">{{task.title}}</a> : From {{task.sdate}} at {{task.stime}}</li>
                {% empty %}
                    <li>No Tasks</li>
                {% endfor %}
            </ol>
        </div>
    {% else %}
        <span>Login to view your tasks</span>
    {% endif %}
{% endblock %}